body{
  background-color: grey;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: white;
}
h1{
  font-size: 48px;

}
/*Not visited link*/
a:link{
  color: white;
}

/*Visited link*/
a:visited{
  color: rgb(3, 39, 117);
}

/*Hovered over the link*/
a:hover{
  color: rgb(108, 167, 185);
}